body {margin:0; padding:0; width:100%; min-width:1280px; font-family: "museo-sans",sans-serif; font-style: normal; font-weight: 500; letter-spacing:1px;}
a {text-decoration:none; color:#fff; outline:0;}
a img {border:0;}
ul {list-style:none; padding:0; margin:0;}
input {-webkit-appearance:none;}
p {margin:0 0 25px 0; display:inline-block;}
ul, li, ol, fieldset {list-style:disc; padding:0; margin:0; border:none;}
input, select, textarea {-webkit-appearance:none; -webkit-border-radius:0px; border:0; background:#fff; height:65px; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; padding-left:10px;}
input[type="checkbox"] {-webkit-appearance:checkbox;}
input[type="radio"] {-webkit-appearance:radio;}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0;}
::-webkit-input-placeholder {color: #bbb9b6; opacity:1; filter:alpha(opacity=100);}
:-moz-placeholder {color: #bbb9b6; opacity:1; filter:alpha(opacity=100);}
::-moz-placeholder {color: #bbb9b6; opacity:1; filter:alpha(opacity=100);}
:-ms-input-placeholder {color: #bbb9b6; opacity:1; filter:alpha(opacity=100);}

/*REUSABLE*/
.mid-cont {position:relative; width:1240px; margin:auto;}
.hidden, #header, #main-wrap, #footer {display:none;}
.last {margin-right:0;}
.cont, #header, #main-wrap, #footer, #banner, #nav, .brown-cont, #contact-form, #contacts {float:left; width:100%;}
#main-wrap {background:#f2f3f4; padding:60px 0;}
.brown-cont, .small-cont {box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
input[type="submit"], .button {background:#566685; font-size:16px; text-transform:uppercase; color:#f2f3f4; cursor:pointer; float:left; text-align:center;}
h3 {font-size:17px; text-transform:uppercase; color:#4a4846; width:100%; text-align:center; font-weight:500;}

/*FONTS*/
.museo-slab-300 {font-family: "museo-slab",serif; font-style: normal; font-weight: 300; letter-spacing:0;}
.museo-slab-500, .text, .text strong, #contacts .member-cont .contact-info {font-family: "museo-slab",serif; font-style: normal; font-weight: 500; letter-spacing:0;}

/*HEADER*/
#header {margin-top:20px;}
#header #logo {position:absolute; background:url(../images/logo.png) no-repeat; width:193px; height:193px; top:85px; left:520px;}
#header #nav {padding:15px 0; background:#61708d;}

/*FOOTER*/
#footer {background:#61708d; padding:25px 0; color:#f2f3f4; font-size:12px; text-transform:uppercase;}
#footer #copyright {float:left; margin-left:255px;}
#footer li {float:left; margin-left:25px; padding-left:10px;}

/*SPLASH*/
.tagline {float:left; width:100%; font-size:18px; text-transform:uppercase; color:#4a4846; text-align:center; margin:10px 0 25px;}
.excerpt {float:left; width:100%; text-align:center; color:#566685; text-transform:uppercase; font-size:33px; line-height:45px; margin-bottom:35px;}
.image {float:left; margin-left:75px;}
.text {float:left; width:525px; margin-left:35px; font-size:15px; color:#786752; line-height:24px;}
.text strong {float:left; color:#4a4745; font-size:20px;}
.text li {margin-left:15px;}
.brown-cont {background:#4a4745; padding:45px 80px; margin:70px 0 55px 0; }
.small-cont {float:left; width:530px; background:#9e9d9d; padding:45px 40px; height:215px; text-align:center;}
.brown-cont .small-cont:first-child {margin-right:20px;}
#signup-cont input[type="text"] {width:330px; float:left;}
#signup-cont input[type="submit"] {width:115px;}
#brochure-cont .button {width:445px; height:65px; display:table; background:url(../images/button-arrow.png) no-repeat #566685 332px center;}
#brochure-cont .button span {display:table-cell; vertical-align:middle; height:65px;}
#contact-form {margin:58px 0 0 170px; width:900px; text-transform:uppercase;}
#contact-form .contact-title {font-size:34px; color:#566685; width:100%; text-align:center;}
#contact-form form {float:left; width:100%; border:1px solid #c1bdba; border-right:none; border-left:none; padding:35px 0 15px 0; margin:35px 0 60px 0;}
#contact-form form input[type="text"], #contact-form form input[type="email"] {background:#e4e4e4; width:441px; text-transform:uppercase; font-size:16px; padding-left:20px;}
#contact-form form input[type="text"] {margin-right:12px;}
#contact-form form input[type="submit"] {width:100%; margin-top:12px;}
#contact-form .wpcf7-not-valid-tip {display:none !important;}
#contact-form .wpcf7-response-output {float:left; width:100%; border:none; margin:-30px 0 0 0; padding:25px 0; text-align:center; font-size:16px; text-transform:uppercase; color:#f2f3f4; background:#718653;}
#contact-form .wpcf7-validation-errors {background:#d05037;}
#contacts {background:url(../images/contacts-bg.png) no-repeat center 35px; min-height:80px; width:900px; margin-left:170px;}
#contacts .member-cont {float:left; width:50%; text-align:center; color:#786752;}
#contacts .member-cont a {color:#786752;}

